.reset-password {
  width: 25%;
  min-width: 200px;
  max-width: 250px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
  transform: translate(-50%);
}

.reset-text {
  font-weight: 400;
  margin: 0px;
  width: 300px;
}
