.settings {
  width: 25%;
  min-width: 200px;
  max-width: 250px;
  padding-top: 0px;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-left: 50%;
  transform: translate(-50%);
}

.settings-button {
  min-width: 180px;
  max-width: 220px;
  min-height: 30px;
  // width: auto;
  height: 80px;
  letter-spacing: 0.5px;
  padding: 20px 0 20px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: #ffc107;
  color: white;
  border: none;
  margin-top: 50px;
  text-transform: capitalize;
  text-decoration: none;
  overflow: visible;

  span {
    font-weight: 400;
    font-size: 18px;
  }
}

.change-info {
  width: 25%;
  min-width: 200px;
  max-width: 250px;
  height: 300px;
  position: relative;
  top: 20px;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin: 40px 0px 40px 0px;
  margin-left: -20px;

  span {
    font-weight: 400;
    margin: 0px;
    width: 300px;
  }
}

.submit-button:hover {
  opacity: 0.9;
}

.home {
  top: 40px;
  padding-bottom: 20px;
  padding-bottom: 20px;
  // margin-bottom: 20px;
}

.disconnect {
  min-width: 240px;
  margin-top: 100px;
  padding-bottom: 20px;
}
