.button-container {
  //text-align: floor($number: 1);
}

.submit-button {
  min-width: 180px;
  width: auto;
  height: 60px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-weight: 400;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  background-color: #ffc107;
  color: white;
  border: none;
  margin-top: 20px;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 15px;
  font-size: 25px;
}

.submit-button:hover {
  opacity: 0.9;
}

.link-container {
  margin-top: 20px;
}

.link {
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
  color: black;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:active {
    text-decoration: none;
    color: black;
  }
}
