@mixin respond-wide {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin respond-medium {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin respond-narrow {
  @media (max-width: 376px) {
    @content;
  }
}

.spotify-container {
  min-width: 180px;
  width: auto;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-weight: 380;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  color: black;
  border: none;
  margin-top: 20px;
  text-transform: capitalize;
  text-decoration: none;

  @include respond-wide() {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include respond-medium() {
    grid-template-columns: 1fr 1fr;
  }
}

.dropdown-container {
  display: block;
  grid-column: 1/4;
}

.dropdown {
  min-width: 180px;
  height: 60px;
  border-radius: 15px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-weight: 380;
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  background-color: #ffc107;
  color: white;
  border: none;
  margin-top: 20px;
  text-transform: capitalize;
  text-decoration: none;
}

.dropdown:hover {
  opacity: 0.9;
  background-color: #ffc107;
}

.user-photo {
  width: 200px;
  height: auto;
}

.top-artists {
  margin-top: 60px;
  grid-column: 1 / 4;
}

h4 {
  grid-column: 1 / 4;
  align-content: center;
}
