@mixin respond-medium {
  @media (max-width: 768px) {
    @content;
  }
}

.header-container {
  background-color: #f44336;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  font-family: 'Roboto', sans-serif;
  height: 160px;
  margin-bottom: 60px;

  @include respond-medium() {
    grid-template-columns: 1fr;
    height: 20vh;
  }

  .header {
    min-height: 10vh;
    color: white;
    font-size: calc(10px + 2vmin);
    text-decoration: none;
    font-weight: 400;
    grid-column-start: 2;
    transform: translateY(25%);

    @include respond-medium() {
      grid-column-start: 1;
      margin-top: -10px;
      margin-bottom: -15px;
    }

    &:hover,
    &:active {
      color: white;
      text-decoration: none;
    }
  }

  .dropdown-settings-container {
    grid-column-start: 3;
    margin-left: auto;
    margin-right: 20px;
    transform: translateY(16%);

    @include respond-medium() {
      grid-column-start: 1;
      margin-left: unset;
      margin-bottom: 30px;
      transform: translateY(0%);
    }
  }

  .dropdown-settings {
    min-width: 100px;
    height: 60px;
    border-radius: 15px;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    background-color: #ffc107;
    color: white;
    border: none;
    // margin-top: 20px;
    text-transform: capitalize;
    text-decoration: none;
  }

  .dropdown:hover {
    opacity: 0.9;
    background-color: #ffc107;
  }
}
