.header {
  background-color: #f44336;
  min-height: 20vh;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto', sans-serif;
  text-decoration: none;

  &:hover,
  &:active {
    color: white;
    text-decoration: none;
  }
}

h1 {
  font-weight: 400;
}

h4 {
  font-weight: 400;
  font-size: 80%;
  margin-bottom: 40px;
}
