@mixin respond-extra-wide {
  @media (max-width: 1640px) {
    @content;
  }
}

@mixin respond-medium {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin respond-narrow {
  @media (max-width: 376px) {
    @content;
  }
}

.spotify-element {
  @include respond-extra-wide() {
    justify-content: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include respond-narrow() {
    width: 160px;
    padding: 20px 0px;
  }

  .details-container {
    @include respond-extra-wide() {
      margin: 0px 0px;
      padding: none;
    }

    @include respond-medium() {
      margin-left: 0px;
    }

    ul {
      padding: unset;
      line-height: 1.6;
      min-width: 140px;
    }

    li {
      list-style: none;
    }
    .main-text {
      font-size: 20px;
      margin-bottom: 10px;

      @include respond-medium() {
        font-size: 18px;
      }
    }

    .small-text {
      font-size: 16px;
      font-weight: 380;

      @include respond-medium() {
        font-size: 14px;
      }
    }
  }

  span {
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    margin: none;

    @include respond-medium() {
      font-size: 22px;
    }
  }

  a,
  a:hover,
  a:active {
    text-decoration: none;
    color: white;
  }
}

.artist-image,
.album-image {
  width: 164px;
  height: auto;

  @include respond-narrow() {
    width: 120px;
  }
}
